h1 {
  text-align: center;
}
h2 {
  color: #7b0695;
}
table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 20px;
}
th,
td {
  padding: 5px;
  text-align: center;
}
