

body {
  background-color: #dedede;
  color: #333;
}
h1 {
  text-align: center;
}
h2 {
  color: #7b0695;
}
table {
  width: 100%;
}
h3 {
  margin: 0;
  padding: 0;
}
.employees {
  width: 98%;
  padding: 10px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: table;
}

.details {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.description {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
}
.salary {
  display: flex;
  justify-content: space-around;
}
.salary span {
  color: #b81f4a;
}


table, tr, th, td {
  border-collapse:  collapse;
}

td, th {
  border: 1px solid #bdbdbd;
  padding: 8px;
  white-space: nowrap;
}
