.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
button,
input {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem 1.5rem;
}
input {
  max-width: 20px;
  text-align: center;
}
